body {
    background: url("../img/background.jpg") repeat-x;
    background-color: #0c739f;
}

.wrapper {
    width: 1000px;
    height: 991px;
    margin: 0 auto;
    margin-top: 1px;
    background-color: #ffffff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.7);
}

.header {
    position: relative;
    height: 175px;
}

.logo {
    position: absolute;
    float: left;
    padding-left: 12px;
    height: 172px;
}

.contact {
    float: right;
    padding-top: 12px;
    padding-right: 32px;
    padding-left: 12px;
    font-family: 'Tahoma';
    font-size: 12px;
    font-style: normal;
    color: #128aa7;
    line-height: 1.5;
}

.e-mail {
    text-decoration: none;
    color: #128aa7;
}

.countries {
    margin-top: 30px;
    margin-right: 15px;
    clear: both;
    float: right;
}

.image_country {
    float: left;
}

.image_link {
    width: 60px;
    display: inline-block;
    font-family: 'Tahoma';
    font-size: 10px;
    text-align: center;
    color: #128aa7;
}

.photo {
    height: 237px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
}

.menu {
    display: inline-block;
    width: 1000px;
    height: 28px;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #000000;
    background: linear-gradient(to right, #343434, #303030);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.menu li a {
    text-align: left;
    text-decoration: none;
    color: #ffffff;
}

.link {
    height: 28px;
    position: relative;
    padding-top: 4px;
    padding-left: 65px;
    float: left;
    font-family: 'Tahoma';
    font-size: 14px;
    line-height: 1.5;
}

.submenu {
    display: none;
    width: 150px;
    height: 125px;
    position: absolute;
    left: 25px;
    top: 20px;
    margin-top: 9px;
    margin-left: 30px;
    padding-bottom: 9px;
    padding-left: 10px;
    background: #303030;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.submenu li a {
    text-align: left;
    line-height: 1.8;
    color: #a8aaae;
}

ul.menu>li:hover>ul.submenu {
    display: block;
}

.block {
    display: inline-block;
    width: 1000px;
    height: 543px;
}

.info {
    width: 209px;
    height: 543px;
    float: left;
    text-align: center;
    font-family: 'Tahoma';
    font-size: 14px;
    color: #424c43;
    line-height: 1.5;
    background: #edeef0;
    border-right: 1px solid #c7cacf;
}

.text {
    width: 582px;
    float: left;
}

.news {
    width: 209px;
    height: 543px;
    float: right;
    text-align: center;
    font-family: 'Tahoma';
    font-size: 14px;
    color: #424c43;
    line-height: 1.5;
    background: #edeef0;
    border-left: 1px solid #c7cacf;
}

h3 {
    font-family: 'Tahoma';
    font-size: 18px;
    color: #424c43;
}

.copyright {
    padding-top: 6px;
    padding-bottom: 10px;
    font-family: 'Tahoma';
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}
